<!-- header details -->
<div class="container head-space">
  <div class="row info-head">
    <div class="col-2 font-20 m-auto font-600 p-header">164 Orders Found</div>
    <div class="col-4 m-auto">
      <section id="tabs">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 ">
              <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="all-tab" data-toggle="tab" href="#nav-all" 
                  role="tab" aria-controls="nav-all" aria-selected="true">All</a>
                  <a class="nav-item nav-link" id="ongoing-tab" data-toggle="tab" href="#nav-ongoing" 
                  role="tab" aria-controls="nav-ongoing" aria-selected="false">Ongoing Orders</a>
                </div>
              </nav>
              <div class="tab-content px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="all-tab">
                <!-- set tab 1 content here -->
                </div>
                <div class="tab-pane fade" id="nav-ongoing" role="tabpanel" aria-labelledby="ongoing-tab">
                <!-- set tab 2 content here -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-2 m-auto info-sort">
      <div class="container">
        <div class="row">
          <div class="col-6 m-auto font-12 font-400 text-right light-grey">Sort By: </div>
          <div class="col-6 p-0">
            <div class="btn-group dropup">
              <button class="btn dropdown-toggle font-bold h-30" type="button" 
              id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Order ID
              <i class="fa fa-chevron-down light-grey text-center icon-center"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action one</a>
                <a class="dropdown-item" href="#">Action two</a>
                <a class="dropdown-item" href="#">Action three</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 m-auto info-search">
      <div class="container">
        <div class="row">
          <div class="input-group">
          <input type="text" class="form-control font-12 h-30" placeholder="Search All Orders">
            <span class="input-group-btn">
              <button class="btn btn-default search-box" type="button">
              <span class="fa fa-search search-btn"></span></button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- information stripes -->
<div class="container info-stripe">
  <div class="row info-center">
        <div class="col-1 text-center avatar">
          <img src="assets/avatar.png" alt="Avatar" class=" text-center m-auto avatar-round">
        </div>
        <div class="col-1 m-auto font-bold p-0 item-num">#42084</div>
        <div class="col-2 m-auto desc">
          <div class="container">
            <div class="row font-bold info-name">Collection</div>
            <div class="row font-10">20 Dec 2020 | 10:00 am - 11:00 am</div>
          </div>
        </div>
      <div class="col-3 m-auto">
        <div class="container">
          <div class="row font-bold">
            <i class="fa fa-home light-grey text-center icon-center" aria-hidden="true">
            </i>La pizza di don corleone</div>
          <div class="row font-10">
            <i class="fa fa-map-marker light-grey text-center  icon-center" aria-hidden="true">
            </i>9 Park Avenue, KILMARNOCKA10 3HZ</div>
        </div>
      </div>
    <div class="col-2 m-auto font-bold text-center phn-num">
      <i class="fa fa-phone light-grey text-center icon-center" aria-hidden="true">
      </i>+7894337468</div>
    <div class="col-1 m-auto font-bold text-center light-green info-alert">Completed</div>
    <div class="col-2 m-auto font-bold text-center">
      <div class="row m-0">
        <div class="col-8 text-right info-price m-auto">£ 34.00</div>
        <div class="col-4 text-left info-drop">
          <div class="btn-group dropup">
            <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-chevron-down light-grey"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Option One</a>
            <a class="dropdown-item" href="#">Option Two</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="h-35"></div>

<div class="container info-stripe">
  <div class="row info-center">
        <div class="col-1 text-center avatar">
          <img src="assets/avatar.png" alt="Avatar" class=" text-center m-auto avatar-round">
        </div>
        <div class="col-1 m-auto font-bold p-0 item-num">#42084</div>
        <div class="col-2 m-auto desc">
          <div class="container">
            <div class="row font-bold info-name">Scehdule Delivery</div>
            <div class="row font-10">20 Dec 2020 | 10:00 am - 11:00 am</div>
          </div>
        </div>
      <div class="col-3 m-auto">
        <div class="container">
          <div class="row font-bold">
            <i class="fa fa-home light-grey text-center icon-center" aria-hidden="true">
            </i>La pizza di don corleone</div>
          <div class="row font-10">
            <i class="fa fa-map-marker light-grey text-center  icon-center" aria-hidden="true">
            </i>9 Park Avenue, KILMARNOCKA10 3HZ</div>
        </div>
      </div>
    <div class="col-2 m-auto font-bold text-center phn-num">
      <i class="fa fa-phone light-grey text-center icon-center" aria-hidden="true"></i>+7894337468</div>
    <div class="col-1 m-auto font-bold text-center light-green info-alert">Completed</div>
    <div class="col-2 m-auto font-bold text-center">
      <div class="row m-0">
        <div class="col-8 text-right info-price m-auto">£ 34.00</div>
        <div class="col-4 text-left info-drop">
          <div class="btn-group dropup">
            <a  type="text" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-chevron-down light-grey"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Option One</a>
            <a class="dropdown-item" href="#">Option Two</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container info-stripe">
  <div class="row info-center">
        <div class="col-1 text-center avatar">
          <img src="assets/avatar.png" alt="Avatar" class=" text-center m-auto avatar-r-corner">
        </div>
        <div class="col-1 m-auto font-bold p-0 item-num">1 X</div>
        <div class="col-2 m-auto desc">
          <div class="container">
            <div class="row font-bold info-name">Beef Pepperoni Pizza</div>
            <!-- <div class="row font-10">20 Dec 2020 | 10:00 am - 11:00 am</div> -->
          </div>
        </div>
      <div class="col-3 m-auto">
        <div class="container">
          <div class="row font-bold">
            <!-- <i class="fa fa-home light-grey text-center icon-center" aria-hidden="true"></i>La pizza di don corleone -->
          </div>
          <div class="row font-10">
            <!-- <i class="fa fa-map-marker light-grey text-center  icon-center" aria-hidden="true"></i>9 Park Avenue, KILMARNOCKA10 3HZ -->
          </div>
        </div>
      </div>
    <div class="col-2 m-auto font-bold text-center phn-num">
      <!-- <i class="fa fa-phone light-grey text-center icon-center" aria-hidden="true"></i>+7894337468 -->
    </div>
    <div class="col-1 m-auto font-bold text-center light-green info-alert">
      <!-- Completed -->
    </div>
    <div class="col-2 m-auto font-bold text-center">
      <div class="row m-0">
        <div class="col-8 text-right info-price m-auto">£ 34.00</div>
        <div class="col-4 text-left info-drop">
          <div class="btn-group dropup">
            <a  type="text" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <!-- <i class="fa fa-chevron-down light-grey"></i> -->
            <i class="fa fa-ellipsis-v light-grey" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Option One</a>
            <a class="dropdown-item" href="#">Option Two</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container info-stripe title-stripe">
  <div class="row info-center">
    <div class="col m-auto font-bold p-title">Options</div>
  </div>
</div>

<div class="container info-stripe info-stripe-s">
  <div class="row info-center w-100">
    <div class="col-10 m-auto desc">
      <div class="container">
        <div class="row font-bold info-name p-name">Beef Pepperoni Pizza</div>
      </div>
    </div>
    <div class="col-2 m-auto font-bold text-center info-detail">
      <div class="row m-0">
        <div class="col-8 text-right info-price m-auto">£ 34.00</div>
        <div class="col-4 text-left info-drop">
          <div class="btn-group dropup">
            <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <!-- <i class="fa fa-chevron-down light-grey"></i> -->
            <i class="fa fa-ellipsis-v light-grey" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Option One</a>
            <a class="dropdown-item" href="#">Option Two</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container info-stripe title-stripe">
  <div class="row info-center">
    <div class="col m-auto font-bold p-title">Add-Ons</div>
  </div>
</div>

<div class="container info-stripe info-stripe-s">
  <div class="row info-center w-100">
    <div class="col-1 m-auto font-bold p-0 text-center item-num-s ">1 X</div>
    <div class="col-9 m-auto desc-s">
      <div class="container">
        <div class="row font-bold info-name p-name">Beef Pepperoni Pizza</div>
      </div>
    </div>
    <div class="col-2 m-auto font-bold text-center info-detail">
      <div class="row m-0">
        <div class="col-8 text-right info-price m-auto">£ 34.00</div>
        <div class="col-4 text-left info-drop">
          <div class="btn-group dropup">
            <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-v light-grey" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Option One</a>
            <a class="dropdown-item" href="#">Option Two</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container info-stripe title-stripe">
  <div class="row info-center">
    <div class="col m-auto font-bold p-title">My Product Note</div>
  </div>
</div>

<!-- cards -->
<div class="container info-stripe h-auto">
  <div class="row m-auto">
    <div class="col-md p-5">
      <div class="info-card">
        <div class="row m-auto h-35">
          <div class="col m-auto font-bold">Jon Lee</div>
          <div class="col m-auto text-right font-12">24:45 | 20 Jan 21</div>
        </div>
        <div class="row m-auto">
          <div class="col-2 text-center avatar">
            <img src="assets/avatar.png" alt="Avatar" class="text-center m-auto avatar-round-s">
          </div>
          <div class="col-9 font-10">Great dashboard, many functions to adjust the different menu and order controlling. 
            The reporting functions are perfect, we can see how many dishes and beverages are in stock and 
            also a list of the general sales. </div>
        </div>
        <hr/>
        <div class="row m-auto p-10">
          <div class="col p-img">
            <img src="assets/avatar.png" alt="Avatar" class="text-center m-auto avatar-square obj-fit">
          </div>
          <div class="col p-img">
            <img src="assets/avatar.png" alt="Avatar" class="text-center m-auto avatar-square obj-fit">
          </div>
          <div class="col p-img">
            <img src="assets/avatar.png" alt="Avatar" class="text-center m-auto avatar-square obj-fit">
          </div>
          <div class="col p-img">
            <img src="assets/avatar.png" alt="Avatar" class="text-center m-auto avatar-square obj-fit">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md p-5">
      <div class="info-card">
        <div class="row m-auto h-35">
          <div class="col m-auto font-bold">Jon Lee</div>
          <div class="col m-auto text-right font-12">24:45 | 20 Jan 21</div>
        </div>
        <div class="row m-auto">
          <div class="col-2 text-center avatar">
            <img src="assets/avatar.png" alt="Avatar" class="text-center m-auto avatar-round-s">
          </div>
          <div class="col-9 font-10">Great dashboard, many functions to adjust the different menu and order controlling. 
            The reporting functions are perfect, we can see how many dishes and beverages are in stock and 
            also a list of the general sales. </div>
        </div>
        <hr/>
        <div class="row m-auto p-10">
          <div class="col p-img">
            <img src="assets/avatar.png" alt="Avatar" class="text-center m-auto avatar-square obj-fit">
          </div>
          <div class="col p-img">
            <img src="assets/avatar.png" alt="Avatar" class="text-center m-auto avatar-square obj-fit">
          </div>
          <div class="col p-img">
            <img src="assets/avatar.png" alt="Avatar" class="text-center m-auto avatar-square obj-fit">
          </div>
          <div class="col p-img">
            <img src="assets/avatar.png" alt="Avatar" class="text-center m-auto avatar-square obj-fit">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md p-5">
      <div class="info-card">
        <div class="row m-auto h-35">
          <div class="col m-auto font-bold">Jon Lee</div>
          <div class="col m-auto text-right font-12">24:45 | 20 Jan 21</div>
        </div>
        <div class="row m-auto">
          <div class="col-2 text-center avatar">
            <img src="assets/avatar.png" alt="Avatar" class="text-center m-auto avatar-round-s">
          </div>
          <div class="col-9 font-10">Great dashboard, many functions to adjust the different menu and order controlling. 
            The reporting functions are perfect, we can see how many dishes and beverages are in stock and 
            also a list of the general sales. </div>
        </div>
        <hr/>
        <div class="row m-auto p-10">
          <div class="col p-img">
            <img src="assets/avatar.png" alt="Avatar" class="text-center m-auto avatar-square obj-fit">
          </div>
          <div class="col p-img">
            <img src="assets/avatar.png" alt="Avatar" class="text-center m-auto avatar-square obj-fit">
          </div>
          <div class="col p-img">
            <img src="assets/avatar.png" alt="Avatar" class="text-center m-auto avatar-square obj-fit">
          </div>
          <div class="col p-img">
            <img src="assets/avatar.png" alt="Avatar" class="text-center m-auto avatar-square obj-fit">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="h-35"></div>
