<!-- header details -->
<div class="container head-space">
  <div class="row info-head">
    <div class="col-2 m-auto font-20 w-500 p-header">164 Orders Found</div>
    <div class="col-4 m-auto">
      <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let tabItem of tabs"
          [routerLink]="tabItem.route" routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive">
          {{tabItem.label}}
        </a>
      </nav>
    </div>
    <div class="col-2 m-auto info-sort">
      <div class="container">
        <div class="row">
          <div class="col-6 m-auto font-12 w-400 text-right light-grey">Sort By: </div>
          <div class="col-6 p-0">
            <button mat-button [matMenuTriggerFor]="menu">Order ID
              <i class="fa fa-chevron-down light-grey m-auto font-10 p-l-5 p-b-5"></i>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>ID - Ascending</button>
              <button mat-menu-item>ID - Descending</button>
              <button mat-menu-item>Item - Ascending</button>
              <button mat-menu-item>Item - Descending</button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 m-auto info-search">
      <div class="container">
        <div class="row">
          <div class="input-group">
          <input type="text" class="form-control font-12 h-30" placeholder="Search All Orders">
            <span class="input-group-btn">
              <button class="btn btn-default search-box" type="button">
              <span class="fa fa-search search-btn"></span></button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- tabs -->
<router-outlet></router-outlet>